@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;900&family=Ubuntu:wght@400;500;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}
html{
    scroll-behavior: smooth;
}
body {
    background: #111;
}

.max-width {
    max-width: 1300px;
    padding: 0 80px;
    margin: auto;
}

/* Navbar Styling */

.navbar {
    position: fixed;
    width: 100%;
    padding: 30px 0;
    font-family: 'Ubuntu', sans-serif;
    transition: all 0.3s ease;
    z-index: 9999999;
}

.navbar.sticky {
    padding: 15px 0;
    background: rgb(16, 155, 236);
}

.navbar .max-width {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar .logo a {
    font-size: 35px;
    font-weight: 600;
    color: #fff;
}

.navbar .logo a span {
    color: rgb(5, 160, 250);
    font-family: 'Times New Roman', Times, serif;
    font-size: 50px;
    transition: all 0.3s ease;
}

.navbar.sticky .logo a span {
    color: #fff;
}

.navbar .menu li {
    list-style: none;
    display: inline-block;
}

.navbar .menu li a {
    display: block;
    color: #fff;
    font-size: 18px;
    font-weight: 500;
    margin-left: 25px;
    transition: color 0.3s ease;

}

.navbar .menu li a:hover {
    color: rgb(5, 160, 250);
}

.navbar.sticky .menu li a:hover {
    color: #fff;
}

.menu-btn {
    color: #fff;
    font-size: 23px;
    cursor: pointer;
    display: none;
}
.scroll-up-btn{
    position: fixed;
    height: 45px;
    width: 47px;
    background-color: rgb(16, 155, 236);
    border-radius: 50%;
    right: 30px;
    bottom: 10px;
    text-align: center;
    line-height: 45px;
    color: #fff;
    z-index: 99999;
    font-size: 30px;
    cursor: pointer;
    opacity: 0;
    pointer-events: none;
    transition: all 0.3s ease;
}
.scroll-up-btn.show{
    bottom: 30px;
    opacity: 1;
    pointer-events: auto;
}
/* home section styling */

.home {
    display: flex;
    background: url(Images/banner.jpg) no-repeat center;
    height: 100vh;
    color: #fff;
    min-height: 500px;
    font-family: 'Ubuntu', sans-serif;
}

.home .max-width {
    margin: auto 0 auto 40px;
}

.home .home-content .text-1 {
    font-size: 27px;
}

.home .home-content .text-2 {
    font-size: 75px;
    font-weight: 600;
    margin-left: -3px;
}

.home .home-content .text-3 {
    font-size: 40px;
    margin: 5px 0;
}

.home .home-content .text-3 span {
    color: rgb(5, 160, 250);
    font-weight: 500;
}

.home .home-content a {
    display: inline-block;
    background: rgb(5, 160, 250);
    color: #fff;
    font-size: 25px;
    padding: 12px 36px;
    margin-top: 20px;
    border-radius: 6px;
    border: 2px solid rgb(5, 160, 250);
    transition: all 0.3s ease;
}

.home .home-content a:hover {
    color: rgb(5, 160, 250);
    background: none;
}

/* Root Design */
section {
    padding: 100px 0;
}

section, footer {
    font-family: 'Poppins', sans-serif;
    color: #fff;
}

section .title {
    position: relative;
    font-size: 40px;
    font-weight: 500;
    margin-bottom: 60px;
    text-align: center;
    padding-bottom: 20px;
    font-family: 'Ubuntu', sans-serif;
}

section .title::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 185px;
    height: 3px;
    background: #fff;
    transform: translateX(-50%);
}

section .title::after {
    position: absolute;
    bottom: -12px;
    left: 50%;
    font-size: 20px;
    color: rgb(5, 160, 250);
    padding: 5px;
    background: #111;
    transform: translateX(-50%);
}

/* about section styling */
.about .title::after {
    content: "Who I Am";
}

.about .about-content,
.education .education-content,
.skills .skills-content,
.contact .contact-content {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}

.about .about-content .left {
    width: 45%;
}

.about .about-content .left img {
    height: 400px;
    width: 275px;
    object-fit: cover;
    border-radius: 6px;
}

.about .about-content .right {
    width: 55%;
}

.about .about-content .right .text {
    font-size: 25px;
    font-weight: 600;
    margin-bottom: 10px;
}

.about .about-content .right .text span {
    color: rgb(5, 160, 250);
}

.about .about-content .right p {
    text-align: justify;
}

.about .about-content .right a {
    display: inline-block;
    background: rgb(5, 160, 250);
    color: #fff;
    font-size: 20px;
    font-weight: 500;
    padding: 10px 30px;
    margin-top: 20px;
    border-radius: 6px;
    border: 2px solid rgb(5, 160, 250);
    transition: all 0.3s ease;
}

.about .about-content .right a:hover {
    color: rgb(5, 160, 250);
    background: none;
}

/* education Section Styling */
.education .title::after {
    content: "What I have done";
}

.education .education-content .card {
    width: calc(33% - 20px);
    text-align: center;
    background: #1d1d1d;
    border-radius: 6px;
    padding: 20px 25px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.education .education-content .card:hover {
    background: rgb(5, 160, 250);
}

.education .education-content .card .box {
    transition: all 0.3s ease;
}

.education .education-content .card:hover .box {
    transform: scale(1.05);
}

.education .education-content .card i {
    font-size: 50px;
    color: rgb(5, 160, 250);
    transition: color 0.3s ease;
}

.education .education-content .card:hover i {
    color: #fff;
}

.education .education-content .card .text {
    font-size: 25px;
    font-weight: 500;
    margin: 10px 0 7px 0;
}

/* Skills Section Styling */

.skills .title::after {
    content: "What I Know";
}

.skills .skills-content .column {
    width: calc(50% - 30px);
}

.skills .skills-content .left .text {
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 10px;
}

.skills .skills-content .left p {
    text-align: justify;
}

.skills .skills-content .left a {
    display: inline-block;
    background: rgb(5, 160, 250);
    color: #fff;
    font-size: 18px;
    font-weight: 500;
    padding: 8px 16px;
    margin-top: 20px;
    border-radius: 6px;
    border: 2px solid rgb(5, 160, 250);
    transition: all 0.3s ease;
}

.skills .skills-content .left a:hover {
    color: rgb(5, 160, 250);
    background: none;
}

.skills .skills-content .right .bars {
    margin-bottom: 15px;
}

.skills .skills-content .right .info {
    display: flex;
    margin-bottom: 5px;
    align-items: center;
    justify-content: space-between;
}

.skills .skills-content .right span {
    font-weight: 500;
    font-size: 18px;
}

.skills .skills-content .right .line {
    height: 5px;
    width: 100%;
    background: #d3d3d3;
    position: relative;
}

.skills .skills-content .right .line::before {
    content: "";
    position: absolute;
    height: 100%;
    left: 0;
    top: 0;
    background: rgb(5, 160, 250);
}

.skills-content .right .html::before {
    width: 98%;
}

.skills-content .right .css::before {
    width: 60%;
}

.skills-content .right .js::before {
    width: 80%;
}

.skills-content .right .php::before {
    width: 50%;
}

.skills-content .right .mysql::before {
    width: 90%;
}

/* My Team Section Styling */
.teams .title::after {
    content: "Who with me";
}

.teams .carousel .card:hover {
    background: rgb(16, 155, 236);
    cursor: pointer;
}

.teams .carousel .card:hover .box {
    transform: scale(1.05);
}

.teams .carousel .card {
    background: #1d1d1d;
    border-radius: 6px;
    padding: 25px 35px;
    text-align: center;
    transition: all 0.3s ease;
}

.teams .carousel .card .box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: all 0.3s ease;
}

.teams .carousel .card img {
    height: 150px;
    width: 150px;
    object-fit: cover;
    border-radius: 50%;
    border: 5px solid rgb(16, 155, 236);
    transition: all 0.3s ease;
}

.teams .carousel .card .text {
    font-size: 25px;
    font-weight: 500;
    margin: 10px 0 7px 0;
}

.teams .carousel .card:hover img {
    border-color: #fff;
}

.owl-dots {
    text-align: center;
    margin-top: 20px;
}

.owl-dot {
    height: 13px;
    width: 13px;
    margin: 0 5px;
    outline: none !important;
    border-radius: 50%;
    border: 2px solid rgb(5, 160, 250);
    transition: all 0.3s ease;
}

.owl-dot.active {
    width: 35px;
    border-radius: 14px;
}

.owl-dot.active,
.owl-dot:hover {
    background: rgb(5, 160, 250) !important;
    cursor: pointer;
}

/* Contact Section Styling */
.contact .title::after {
    content: "Get in touch";
}

.contact .contact-content .column {
    width: calc(50% - 30px);
}

.contact .contact-content .text {
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 10px;
}

.contact .contact-content .left p {
    text-align: justify;
}

.contact .contact-content .left .icons {
    margin: 10px 0;
}

.contact .contact-content .row {
    display: flex;
    height: 65px;
    align-items: center;
}

.contact .contact-content .row .info {
    margin-left: 30px;
}

.contact .contact-content .row i {
    font-size: 25px;
    color: rgb(16, 155, 236);
}

.contact .contact-content .info .head {
    font-weight: 500;
}

.contact .contact-content .info .sub-title {
    color: #999;
}

.contact .right form .fields {
    display: flex;
}

.contact .right form .field,
.contact .right form .fields .field {
    height: 45px;
    width: 100%;
    margin-bottom: 15px;
}

.contact .right form .textarea {
    height: 80px;
    width: 100%;
}

.contact .right form .name {
    margin-right: 10px;
}

.contact .right form .email {
    margin-left: 10px;
}

.contact .right form .field input,
.contact .right form .textarea textarea {
    height: 100%;
    width: 100%;
    border-bottom: 1px solid #999;
    border-radius: 6px;
    outline: none;
    padding: 0 15px;
    font-size: 17px;
    font-family: 'Poppins', sans-serif;
    background: none;
    color: #fff;
}

.contact .right form .textarea textarea {
    padding-top: 10px;
    resize: none;
}

.contact .right form .button {
    height: 47px;
    width: 170px;
}

.contact .right form .button button {
    width: 100%;
    height: 100%;
    border: 2px solid rgb(16, 155, 236);
    background: rgb(5, 160, 250);
    color: #fff;
    font-size: 20px;
    font-weight: 500;
    border-radius: 6px;
    transition: all 0.3s ease;
    cursor: pointer;
}

.contact .right form .button button:hover {
    color: rgb(16, 155, 236);
    background: none;
}

/* Footer Styling */
footer{
    background: #222;
    padding: 20px 23px;
    text-align: center;
    height: 100%;
    border-top: 3px solid rgb(16, 155, 236);
}
footer span a{
    color: rgb(16, 155, 236);
}
footer span a:hover{
    text-decoration: underline;
}


/* Responsive Media Alignment */
@media (max-width: 1300px) {
    .home .max-width {
        margin-left: 0px;
    }
}

@media (max-width: 1104px) {
    .about .about-content .left img {
        height: 350px;
        width: 230px;
    }
}

@media (max-width: 991px) {
    .max-width {
        padding: 0 50px;
    }
}

@media (max-width: 947px) {
    .max-width {
        padding: 0 50px;
    }

    .menu-btn {
        display: block;
        z-index: 9999;
    }

    .menu-btn i.active::before {
        content: "\f00d";
        z-index: 99999;
    }

    .navbar .menu {
        position: fixed;
        background-color: rgba(17, 17, 17, 0.979);
        height: 100vh;
        width: 100%;
        left: -100%;
        top: 0;
        text-align: center;
        padding-top: 80px;
        transition: all 0.5s ease;
    }

    .navbar .menu.active {
        left: 0;
        z-index: 999;
    }

    .navbar .menu li {
        display: block;
    }

    .navbar .menu li a {
        display: inline-block;
        margin: 20px 0;
        font-size: 25px;
    }

    .home .home-content .text-2 {
        font-size: 70px;
    }

    .home .home-content .text-3 {
        font-size: 35px;
    }

    .home .home-content a {
        font-size: 23px;
        padding: 10px 30px;
    }

    .about .about-content .column {
        width: 100%;
    }

    .about .about-content .left {
        display: flex;
        justify-content: center;
        margin: 0 auto 60px;
    }

    .max-width {
        max-width: 800px;
    }

    .about .about-content .right {
        flex: 100%;
    }

    .education .education-content .card {
        width: calc(50% - 10px);
        margin-bottom: 20px;
    }

    .skills .skills-content .column,
    .contact .contact-content .column {
        width: 100%;
        margin-bottom: 35px;
    }
}

@media (max-width: 690px) {
    .max-width {
        padding: 0 23px;
    }

    .home .home-content .text-2 {
        font-size: 60px;
    }

    .home .home-content .text-3 {
        font-size: 32px;
    }

    .home .home-content a {
        font-size: 20px;
    }

    .education .education-content .card {
        width: 100%
    }

}

@media (max-width: 500px) {
    .home .home-content .text-2 {
        font-size: 50px;
    }

    .home .home-content .text-3 {
        font-size: 27px;
    }
}